.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.Logo{
  width: 100px;
  margin: 10px;
  border-radius: 100%;
}
.nav-items{
  padding: 0px 20px;
}
.nav-items > ul{
  display: flex;
 font-size: 22px;
  list-style-type: none;

}
.nav-items > ul >li{
  padding: 10px;
  margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;

}
.res-card{
  margin: 8px;
  padding: 15px 5px;
  width: 220px;
  height: 360px;
  line-height: 16px;
 
}
.res-card:hover{
  border: 1px solid black;
}
.search{
  padding: 10px;
  
}
.res-logo{
  width: 210px;
  height: 140px;
  margin:5px;
}
.filter-btn{
  margin:10px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  margin: 8px;
  padding: 15px 5px;
  width: 220px;
  height: 310px;
  line-height: 15px;
 background-color: #f0f0f0;
 margin-top: 70px;
}
.login{
  padding: 0 20px;
  cursor: pointer;
}
.Search{
  margin-top: 10px;
}
.filter{
  display: flex;
}